extends layout
block content
    h1= title
    - let zirconid = toShow._id
    - let clarity = toShow.clarity
    - let zirconorigin = toShow.origin
    - let zirconhardness = toShow.hardness
    div
        div.row
            div(class='zirconAttr mr-3') Zircon ID is:
            div #{zirconid}
        div.row
            div(class='zirconAttr mr-3') Zircon Type is:
            div #{clarity}
        div.row
            div(class='zirconAttr mr-3') Zircon hardness is:
            div #{zirconhardness}
        div.row
            div(class='zirconAttr mr-3') Zircon origin is:
            div #{zirconorigin}