extends layout
block content
    h1= title
    - let zirconid = toShow._id
    - let zircon_type = toShow.zircon_type
    - let zirconcost = toShow.cost
    - let zirconsize = toShow.size
    div
        div.row
            div(class='zirconAttr mr-3') Zircon ID is:
            div #{zirconid}
        div.row
            div(class='zirconAttr mr-3') Zircon Type is:
            div #{zircon_type}
        div.row
            div(class='zirconAttr mr-3') Zircon Size is:
            div #{zirconsize}
        div.row
            div(class='zirconAttr mr-3') Zircon Cost is:
            div #{zirconcost}